n8n_backups/workflows/RFqgjOs0RnYvsFYLDGusq.json
{"updatedAt":"2026-02-02T12:32:25.830Z","createdAt":"2026-02-02T12:02:12.552Z","id":"RFqgjOs0RnYvsFYLDGusq","name":"error_handler","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"c4fc6937-5b32-4079-95fa-40a714c1994d","name":"Error Trigger"},{"parameters":{"jsCode":"// Error Trigger 送進來的資料通常長這樣：\n// $json.execution 或 $json.trigger（若錯在 trigger node）\n// 官方範例結構：execution.id/url/error.message/stack + workflow.id/name :contentReference[oaicite:2]{index=2}\n\nconst wfId = $json.workflow?.id ?? null;\nconst wfName = $json.workflow?.name ?? null;\n\n// 兩種錯誤來源：execution / trigger\nconst hasExecution = !!$json.execution;\nconst mainExecutionId = hasExecution ? ($json.execution.id ?? null) : null;\n\n// 重要：官方文件說若錯在主 workflow 的 trigger node，execution.id 可能不存在 :contentReference[oaicite:3]{index=3}\n// 但你表的 execution_id 是 NOT NULL，所以這裡做一個 fallback，避免 insert 失敗\nconst fallbackId = `trigger-${$json.trigger?.error?.timestamp ?? Date.now()}`;\nconst executionIdToStore = String(mainExecutionId ?? fallbackId);\n\nconst errMsg =\n  (hasExecution ? $json.execution?.error?.message : $json.trigger?.error?.message) ??\n  $json.trigger?.error?.cause?.message ??\n  null;\n\nconst errStack =\n  (hasExecution ? $json.execution?.error?.stack : $json.trigger?.error?.cause?.stack) ??\n  null;\n\nreturn [{\n  json: {\n    workflow_id: wfId ? String(wfId) : null,\n    workflow_name: wfName ? String(wfName) : null,\n    execution_id: executionIdToStore,\n    trigger: hasExecution ? ($json.execution?.mode ?? null) : ($json.trigger?.mode ?? \"trigger\"),\n\n    status: \"error\",\n\n    ended_at: new Date().toISOString(),\n\n    error_message: errMsg,\n    error_stack: errStack,\n\n    meta: {\n      source: hasExecution ? \"execution\" : \"trigger\",\n      execution_url: $json.execution?.url ?? null,\n      retry_of: $json.execution?.retryOf ?? null,\n      last_node_executed: $json.execution?.lastNodeExecuted ?? null\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"134e59a6-8079-4ee2-8a36-3656b45f332c","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"value":"edge_ingest","mode":"list","cachedResultName":"edge_ingest"},"table":{"__rl":true,"value":"n8n_workflow_run_log","mode":"list","cachedResultName":"n8n_workflow_run_log"},"columns":{"mappingMode":"autoMapInputData","value":{"id":0,"duration_ms":0,"items_in":0,"items_out":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"execution_id","displayName":"execution_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"trigger","displayName":"trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"error","value":"error"},{"name":"success","value":"success"}]},{"id":"started_at","displayName":"started_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ended_at","displayName":"ended_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"duration_ms","displayName":"duration_ms","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"items_in","displayName":"items_in","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"items_out","displayName":"items_out","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error_stack","displayName":"error_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"meta","displayName":"meta","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"578ba0a6-c488-4f9f-a6ee-42ebdebabf90","name":"Insert rows in a table","credentials":{"postgres":{"id":"aK2oGxornx6ZBU5d","name":"Postgres account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a9e30c5-bbeb-4bcb-b253-b03e8cb4d56d","activeVersionId":"7a9e30c5-bbeb-4bcb-b253-b03e8cb4d56d","versionCounter":17,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-02T12:02:12.552Z","createdAt":"2026-02-02T12:02:12.552Z","role":"workflow:owner","workflowId":"RFqgjOs0RnYvsFYLDGusq","projectId":"piYwYHPmuYDraZf2","project":{"updatedAt":"2026-01-29T14:32:27.350Z","createdAt":"2026-01-29T14:31:13.220Z","id":"piYwYHPmuYDraZf2","name":"Jett Yu <busybutlazy@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b7cdbd85-4421-43bf-a148-bf0ca3114b94"}}]}