n8n_backups/workflows/zYi_PaebiKiw0px1eMSzI.json
{"updatedAt":"2026-02-07T07:40:32.997Z","createdAt":"2026-01-29T14:33:02.846Z","id":"zYi_PaebiKiw0px1eMSzI","name":"edge_collector__rss_to_raw_items","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[208,32],"id":"202c96d1-b3ab-476c-b69d-ae8de1177070","name":"Schedule Trigger"},{"parameters":{"operation":"executeQuery","query":"SELECT id AS source_id, source_key, feed_url\nFROM edge_ingest.sources\nWHERE enabled = TRUE\nORDER BY id;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,32],"id":"69ce6c0c-1e76-4a92-b135-1afe04a077e3","name":"Execute a SQL query","credentials":{"postgres":{"id":"aK2oGxornx6ZBU5d","name":"Postgres account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,32],"id":"06ec42f2-bf87-4a99-bfea-208f46b28589","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.feed_url }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.2,"position":[912,240],"id":"6b40e98e-6550-4294-bbeb-c231b7a34184","name":"RSS Read"},{"parameters":{"maxItems":15},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[864,16],"id":"494dabf5-c4b6-4001-b182-62201a9e3267","name":"Limit"},{"parameters":{"assignments":{"assignments":[{"id":"9a3e81e1-a4e0-4c6b-8021-0722b505a1a3","name":"source.source_id","value":"={{ Number($('Loop Over Items').item.json.source_id )}}","type":"number"},{"id":"29ff96de-21da-4883-a97f-a5669f5d9942","name":"source.source_key","value":"={{ $('Loop Over Items').item.json.source_key }}","type":"string"},{"id":"5f72d5fc-1c6d-4e5f-99bd-1412feb3703e","name":"norm_item.link","value":"={{ $json.link ?? \"\"}}","type":"string"},{"id":"210494f0-2697-49b8-b827-3520df032d25","name":"norm_item.url","value":"={{ $('Loop Over Items').item.json.feed_url }}","type":"string"},{"id":"3104f275-ef3f-4341-8a89-51c2513c001c","name":"norm_item.guid","value":"={{ $json.guid ?? \"\"}}","type":"string"},{"id":"2cf86907-06be-40ea-a18b-08d5edd2478a","name":"norm_item.title","value":"={{ $json.title ?? \"\"}}","type":"string"},{"id":"355cf110-1a17-4647-88d8-9fb504fce8e6","name":"norm_item.contentSnippet","value":"={{ $json.contentSnippet ?? \"\"}}","type":"string"},{"id":"2b11d916-e84b-4283-bde2-7bfceef482d2","name":"norm_item.content","value":"={{ $json.content ?? \"\"}}","type":"string"},{"id":"ac82e47d-25aa-449a-93f0-0a597c3eea77","name":"norm_item.isoDate","value":"={{ $json.isoDate ?? \"\"}}","type":"string"},{"id":"43965be5-f665-4ab6-a02a-d3f8112aaf3a","name":"norm_item.pubDate","value":"={{ $json.pubDate ?? \"\"}}","type":"string"},{"id":"7c32626e-df81-41fa-8a6c-89c100a2d17d","name":"norm_item.creator","value":"={{ $json.creator ?? $json.author ?? \"\" }}","type":"string"},{"id":"f69e9c88-e362-4eeb-b18b-aa8f842aa935","name":"norm_item.rights","value":"={{ $json.rights ?? \"\"}}","type":"string"},{"id":"25cd1090-4831-48e8-854a-29ccfaa3acd7","name":"norm_item.raw","value":"={{ $json}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,240],"id":"10642f95-cf8b-491d-b41b-15216c3ec8c6","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://edge-worker:8000/v1/ingest/rawitem","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"={{ $json.source }}"},{"name":"item","value":"={{ $json.norm_item }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1024,16],"id":"644d990f-06b6-4a7b-b35e-f1947100be35","name":"HTTP Request"},{"parameters":{"jsCode":"const count = items.length;\n\nreturn [{\n  json: {\n    execution_id: $execution.id,\n    workflow_id: $workflow.id,\n    workflow_name: $workflow.name,\n    status: \"success\",\n    meta: {\n      message: `Success add ${count} news in DB`,\n      added_count: count\n    }\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,16],"id":"f89c2229-78b2-4326-8591-29ea80441069","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"value":"edge_ingest","mode":"name"},"table":{"__rl":true,"value":"n8n_workflow_run_log","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{"id":0,"duration_ms":0,"items_in":0,"items_out":0},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"workflow_id","displayName":"workflow_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"workflow_name","displayName":"workflow_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"execution_id","displayName":"execution_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"trigger","displayName":"trigger","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":true,"defaultMatch":false,"display":true,"type":"options","canBeUsedToMatch":true,"options":[{"name":"error","value":"error"},{"name":"success","value":"success"}]},{"id":"started_at","displayName":"started_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ended_at","displayName":"ended_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"duration_ms","displayName":"duration_ms","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"items_in","displayName":"items_in","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"items_out","displayName":"items_out","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"error_code","displayName":"error_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error_message","displayName":"error_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error_stack","displayName":"error_stack","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"meta","displayName":"meta","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,16],"id":"535f6eef-a57e-44fd-a3f4-434e2ed6eb43","name":"Insert rows in a table","credentials":{"postgres":{"id":"aK2oGxornx6ZBU5d","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"RSS Read","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Limit":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"RFqgjOs0RnYvsFYLDGusq","saveExecutionProgress":true,"executionTimeout":300},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"605dab32-db76-4112-b429-75e1e2f47ead","activeVersionId":"b9ef88c0-fbf3-4316-83a2-909b2b23690c","versionCounter":262,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-29T14:33:02.846Z","createdAt":"2026-01-29T14:33:02.846Z","role":"workflow:owner","workflowId":"zYi_PaebiKiw0px1eMSzI","projectId":"piYwYHPmuYDraZf2","project":{"updatedAt":"2026-01-29T14:32:27.350Z","createdAt":"2026-01-29T14:31:13.220Z","id":"piYwYHPmuYDraZf2","name":"Jett Yu <busybutlazy@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b7cdbd85-4421-43bf-a148-bf0ca3114b94"}}]}